body {
    box-sizing: border-box;
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
}

header {
    background: #A52A2A;
    display: flex;
    justify-content: center;
    color: #FFF8DC;
}

footer {
    display: flex;
    justify-content: center;
    background: #D2B48C;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
}
/* Fleixble Sizing with flex: 1 */
article {
    /* flex: 200px; */
    flex: 1 200px;
    padding: 10px;
    margin: .5rem;
    background: #87CEFA;
    border: 1px solid #00BFFF;
}

article:nth-of-type(3) {
    flex: 2 200px;
}

article:hover {
    background: #ADD8E6;
}