<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Holy Grail Layout</title>
</head>
<body>
    <header>
        <p>header</p>
    </header>
    <nav>
        <p>nav</p>
    </nav>
    <aside>
        <p>aside</p>
    </aside>
    <article class="article-one">
        <p>article 1</p>
    </article>
    <article class="article-two">
        <p>article 2</p>
    </article>
    <article class="article-3">
        <p>article 3</p>
    </article>
    <footer>
        <p>footer</p>
    </footer>
</body>
</html>