<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <!--Cell with given width. Replace 25% with whatever you want -->
        <div class="main-content">
            <div class="content"></div>
        </div>
    
        <!-- Cell that takes remaining width -->
        <div class="other-content">
           <div class="content"></div>
        </div>
        <div class="other-content">
           <div class="content"></div>
        </div>
        <div class="other-content">
            <div class="content"></div>
        </div>
    </div>
</body>
</html>