* {
    box-sizing: border-box;
}

.grid-container {
    background: lightgrey;
}

.main-content {
    flex: 0 0 25%;
    padding-left: 8px;
    padding-right: 8px;
}
.other-content {
    flex: 1;
    padding-left: 8px;
    padding-right: 8px;
}
.content {
    height: 250px;
    width: 250px;
    background: red;
}