/* Container Styling */
.container {
    max-width: 500px;
    margin: auto;
}

/* Flexbox */
.flex-wrapper {
    display: flex;
    flex-direction: row;
}

/* Styling a nav */
ul>li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

ul>li>a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a[href='#example'] {
    background: yellow;
    color: black
}

a[href='#contact'] {
    background: grey;
    font-size: 24px;
}

a[href='#about'] {
    background: purple;
    font-family: sans-serif;
}

/* Selecting the first line of a p element */

p::first-line {
    background: yellow;
}

article > p {
    margin-left: 2rem;
}

/* Media Queries */

@media (max-width: 700px) {
    .container {
        max-width: 350px;
    }
    .flex-wrapper {
        flex-direction: column;
    }
}